@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
font-family:"jean";
padding: 0;
margin: 0;

}
html{
    font-size: 62,5%;
}

nav{
    background-color:#2bcac8;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
      
    opacity: 80%;
   }
    nav img{
	width: 45px ;
    float: left;
    padding-left: 30px;
    }
    nav ul{
         float: right;
        
    }
        nav ul li{
        list-style: none;
        display: inline-block;
        margin: 10px ;
      
        }
            nav ul li a {
            font-size: 1.2rem;
            text-decoration: none;
            
                      
            }
            nav ul li a:hover{
                color: white;
                font-weight: 600px;
            
            }
body{
    background-image:url(../img/bodyFondo4.jpg);
    background-attachment: fixed;
    background-color:#d0c087;
    background-repeat:repeat;
    overflow-x: hidden;
    
}
            
h1{
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
h1,h2{
    color: #898989 ;
}
h2 a{
    color: #585858;
    border: outset 3px;
}
.figure1 h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.figure1 p{
    
    width: 19rem;
    height: auto;
    margin-bottom: 50px;
}

main section article h2 a{
    text-decoration: none;
    
}
p{
    color: black;
    line-height: 2rem;
    font-size: 1rem;
}
section article iframe{
    border: double 3px;
}

footer{
    display: flex;
    width: 100%;
    opacity: 60%;
    background-color: #2bcac8;
    justify-content: center;
    align-items: center;
}

footer img{
    display: flex;
    width:3rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;
   
}
#index figure Img  {
    width: 300px;
    height: 400px;
    border: double 4px;
    background-color: #e1e1e16b;
}
.nobgColor{
    background-color: transparent;
    border: transparent;
}

/* clases por etiqueta*/
.titleIndex{
    margin: auto;
    margin-top: 19px;
    margin-bottom: 50px;
    width: 40%;
    border: double 3px;
    
}
.seccionIndex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.sectionIndex {
    display: inline-block;
    padding: 10px;
    padding-left: 150px;
    margin: auto;
    margin-bottom: 130px;       
}
    .sectionIndex a{
        display: block;
        text-align: center;
        text-decoration: none;
        margin-bottom: px;
        color: black;
        }



.sectionVideo{
    display: flex;
    margin-bottom: 5rem;
}
.VideoComentario {    
    display: flex;  
    width: 75rem;
    margin: auto; 
}
.VideoComentario p{
    margin-left: 20px;
    border: double 3px;
    width: 40rem;
    background-color: #ab7c3f63;
}



/*bg clases colores*/

.bgColorBrownLight{
    background-color: #ab7c3f;
    opacity: 80%;
    margin: auto;

}

.bgColor
/*bg clases tamaños*/
.bgWidthComplete{
    width: 100%;
}
.bgWidthMedium
/* clases texto*/
.titleAndSub{
    color: #686868;
   
}
.fontLight{
    color: rgb(252, 255, 245);
}
.textBold{
	font-weight: 600;
}

.textCenter{
	text-align: center;
}

.textRight{
	text-align: right;
}

.textLeft{
	text-align: left;
}

/*clases Flex promociones*/
.sectionPromociones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
       
}
.sectionPromociones figure{
    width: 10rem;
}
.sectionPromociones figure img{
    width: 10rem;
    height: 15rem;
    
}
.sectionPromociones figure figcaption{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
/*novedades*/
.sectionNovedades1{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
}
.sectionNovedades1 img{
    width: 20rem;
}
.sectionNovedades1 h1{
    margin-left: 20rem;
    margin-top: 0px;
}
.sectionNovedades2{
    display: flex;
}
.sectionNovedades2 img{

    width: 12rem;
    height: 20rem;
}
.sectionNovedades2 article p{
    width: 30rem;
    margin-left: 2rem;
    
}

.novedadesImg{
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
    margin-left: 18rem;
    margin-bottom: 10rem;

}
.novedadesImg img{
    margin-left: 8rem;
}
.nosotrosHeader{
    width: 70%;
    margin-left: 12rem;
}




.color1 {color: #2bcac8;}
.color2 {color: #53d2d1;}
.color3 {color: #8d361d;}
.color4 {color: #ab7c3f;}
.color5 {color: #d0c087;}
.color6 {color: #e2e5ef;}
.color7 {color: #fff9af6e}

